*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: #DA0037;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.card-container {
    padding-top: 5em;
    padding-bottom: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  
  .card {
    flex-basis: calc(33.333% - 20px);
    margin-bottom: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card h2 {
    padding: 10px;
    background-color: #B5B5B5;
    color: #595959;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    .card {
      flex-basis: calc(50% - 20px);
    }
    .container{
        height: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .card {
      flex-basis: 100%;
    }
  }
  .btn{
    /* Group 4 */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    /* gap: 1em; */
    /* margin: 1em 4em 2em 5em; */
    background-color: black;
    color: #DA0037;
    border: none;
    /* width: 50%;
    height: 10%; */
    border-radius: 10rem;
    font-weight: 600;
    padding-left: 2em;
    margin-bottom: 1em;
}
.btn img{
   height: 4em;
   padding-left: 4em;
   padding-right: 1em;
}