* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

body {
    background-color: #f0f2f5;
    
}

.form-container {
    width: 100vw;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container > form {
    background-color: #ffffff;
    width: 60%;
    max-width: 500px;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container > form > h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.form-container > form label {
    font-size: 1em;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

.form-container > form input[type="text"], 
.form-container > form input[type="email"], 
.form-container > form input[type="number"] {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    padding: 0 15px;
    margin-bottom: 20px;
}

.form-container > form button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.form-container > form button:hover {
    background-color: #0056b3;
}

@media only screen and (max-width: 600px) {
    .form-container > form label {
        font-size: 0.9em;
    }
    .form-container > form {
        width: 90%;
    }
    .form-container > form input[type="text"], 
    .form-container > form input[type="email"], 
    .form-container > form input[type="number"] {
        width: 100%;
    }
}
